body {
  background: transparent;
}

#photos {
  max-width: 2000px;
  height: auto;
}

#middle {
  max-width: 1704px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#description {
  margin-left: 140px;
  height: 100%;
  width: 875px;
  padding-left: 10px;
}

.static {
  height: auto;
  max-width: 710px;
  padding-left: 137px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  object-fit: cover;
}

.Booking {
  height: auto;
  width: 376px;
}

#booking {
  position: sticky;
  top: 0;
  padding-top: 20px;
  padding-bottom: 90px;
  height: inherit;
  background: transparent;
  z-index: 1;
}